[user]
    # Ask for user name and mail in new repositories
    useConfigOnly = true

[alias]
    # Setting user profiles
    setname = "!git config user.name 'Sandor Zeestraten'"
    setpersonalmail = "!git config user.email 'sandor@zeestrataca.com'"
    setworkmail = "!git config user.email 'sandor.zeestraten@nina.no'"
    
    # General shorthands
    a = add . --verbose
    st = status
    cl = clone --recursive
    ai = add --interactive

    # commits
    ci = commit
    ca = commit --amend
    cp = cherry-pick

    # diff last commit
    dlc = diff --cached HEAD^

    # branching
    co = checkout
    cob = checkout -b
    br = branch -ra

    # stash   
    sl = stash list
    sa = stash apply
    ss = stash save

    # Alias new commands
    amend = commit --amend
    word-diff = diff --word-diff
    filelog = log -u
    graphlog = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --graph
    # helper alias (used in other aliases)
    branch-name = "!git rev-parse --abbrev-ref HEAD" 
    publish = "!git push -u origin $(git branch-name)"
    unpublish = "!git push origin :$(git branch-name)"
   
    # reset commands
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard

    # git svn
    svnr = svn rebase
    svnd = svn dcommit
    svnl = svn log --oneline --show-commit

    # merges
    ours = "!f() { git co --ours $@ && git add $@; }; f"
    theirs = "!f() { git co --theirs $@ && git add $@; }; f"

    # subtree add
    sba = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
    
    # list remotes
    rem = "!git config -l | grep remote.*url | tail -n +2"
    
    # list all aliases
    la = "!git config -l | grep alias | cut -c 7-"

[commit]
    verbose = true

[grep]
    linenumber = true
    
[status]
    showUntrackedFiles = all
    
[log]
    decorate = auto
    
[push]
    default = current
    followTags = true
    autoSetupRemote = true
    
[pull]
    rebase = true
    
[core]
    editor = vim
